<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Shop</title>
</head>
<body>
    <header>
        <nav id = "navbar">
            <ul class = "list-navbar">
                <li><a id = "logo" href = "#">LOGO</a></li>
                <li><a class = "anchors-navbar" href = "http://localhost:3000/">Shop</a></li>
                <li><a class = "anchors-navbar" href = "http://localhost:3000/add-product">Add</a></li>
            </ul>
            <div>
                <a id = "logout" class = "anchors-navbar" href="#">Logout</a>
            </div>
        </nav>
    </header>