<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Shop</title>
</head>
<body>
    <header>
        <nav id = "navbar">
            <ul class = "list-navbar">
                <li><a id = "logo" href = "#">LOGO</a></li>
                <li><a class = "anchors-navbar" href = "http://localhost:3000/">Shop</a></li>
                <li><a class = "anchors-navbar" href = "http://localhost:3000/add-product">Add</a></li>
            </ul>
            <div>
                <a id = "logout" class = "anchors-navbar" href="#">Logout</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="card-group">
            <div class="card-outside">
                <div class="card">
                    <div class="card-title">Samsumg Galaxy S10</div>
                    <div class="divider"></div>
                    <div class="card-description">In good conditions. 5 months of use</div>
                    <div class="card-image">
                        <img src="https://images.taqi.com.br/large_730x730/smartphone-samsung-galaxy-s10-azul_z_large.jpg" alt="">
                    </div>
                    <div class="card-price">$ 450.00</div>
                    <div class="divider"></div>
                    <div class="card-footer">
                        <div><a href="#">Favoritar</a></div>
                        <div><a href="#">WhatsApp</a></div>
                        <div><a href="#">Facebook</a></div>
                    </div>
                </div>
            </div>
            <div class="card-outside">
                <div class="card">
                    <div class="card-title">iPhone 11</div>
                    <div class="divider"></div>
                    <div class="card-description">Corner is broken :(</div>
                    <div class="card-image">
                        <img src="https://static.carrefour.com.br/medias/sys_master/images/images/h72/h9d/h00/h00/15110452215838.jpg" alt="">
                    </div>
                    <div class="card-price">$ 600.00</div>
                    <div class="divider"></div>
                    <div class="card-footer">
                        <div><a href="#">Favoritar</a></div>
                        <div><a href="#">WhatsApp</a></div>
                        <div><a href="#">Facebook</a></div>
                    </div>
                </div>
            </div>
            <div class="card-outside">
                <div class="card">
                    <div class="card-title">PlayStation 4</div>
                    <div class="divider"></div>
                    <div class="card-description">Comes with 2 joysticks</div>
                    <div class="card-image">
                        <img src="https://assets.xtechcommerce.com/uploads/images/medium/b71a689deadd0e312a8debd55b71aece.jpg" alt="">
                    </div>
                    <div class="card-price">$ 150.00</div>
                    <div class="divider"></div>
                    <div class="card-footer">
                        <div><a href="#">Favoritar</a></div>
                        <div><a href="#">WhatsApp</a></div>
                        <div><a href="#">Facebook</a></div>
                    </div>
                </div>
            </div>
            <div class="card-outside">
                <div class="card">
                    <div class="card-title">Guitar Jackson Japanese</div>
                    <div class="divider"></div>
                    <div class="card-description">Blue metallic</div>
                    <div class="card-image">
                        <img src="https://audiozone.dk/images/rhoadspro-02.jpg" alt="">
                    </div>
                    <div class="card-price">$ 800.00</div>
                    <div class="divider"></div>
                    <div class="card-footer">
                        <div><a href="#">Favoritar</a></div>
                        <div><a href="#">WhatsApp</a></div>
                        <div><a href="#">Facebook</a></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer></footer>
</body>
</html>