* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 96, 204);
}

.list-navbar {
    display: flex;
    list-style-type: none;
}

#logo, .anchors-navbar {
    display: block;
    text-decoration: none;
    color: white;
    height: 50px;
    line-height: 50px;
}

#logo {
    padding: 0 30px;
}

.anchors-navbar {
    padding: 0 8px;
}

.anchors-navbar:hover {
    background-color: rgb(130, 153, 255);
}

#logout {
    padding: 0 25px;
}