* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: rgb(230, 234, 255);
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 96, 204);
}

.list-navbar {
    display: flex;
    list-style-type: none;
}

#logo, .anchors-navbar {
    display: block;
    text-decoration: none;
    color: white;
    height: 50px;
    line-height: 50px;
}

#logo {
    padding: 0 30px;
}

.anchors-navbar {
    padding: 0 8px;
}

.anchors-navbar:hover {
    background-color: rgb(130, 153, 255);
}

#logout {
    padding: 0 25px;
}

main {
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
}

.card-outside {
    width: 250px;
    margin: auto;
    transition: 0.5s;
}

.card-outside:hover {
    box-shadow: 2px 2px 15px 2px rgb(200, 200, 200);
}

.card {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    min-height: 484px;
    display: flex;
    flex-direction: column;
}

.card-title {
    color: rgb(71, 96, 204);
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
}

.divider {
    border: 0.5px solid rgba(71, 96, 204, 0.5);
}

.card-description {
    color: rgb(150, 150, 150);
    margin: 5px 0 10px 0;
}

.card-image {
    flex: 1;
}

.card-image img {
    width: 100%;
}

.card-price {
    font-size: 35px;
    color: rgb(71, 96, 204);
    padding: 20px 0;
}

.card-footer {
    margin: 15px 0;
}

#form-add-product {
    background-color: rgb(255, 255, 255);
    border: 0.5px solid rgba(71, 96, 204, 0.5);
    padding: 30px 10px 0px 10px;
    margin-top: 30px;
    justify-content: center;
    border-radius: 8px;
}

.ipt-form-control {
    min-width: 500px;
    margin: 0 15px 30px 15px;
    border-style: none;
    border-bottom: 1px solid rgb(150, 150, 150);
    font-size: 20px;
    outline-style: none;
    padding: 0 0 5px 5px;
}

#ipt-insert-file {
    min-width: 500px;
    margin: 0 15px 30px 15px;
    border-style: none;
    font-size: 20px;
}

#btn-save {
    margin: 0 0 30px 15px;
    padding: 10px 30px;
    font-size: 20px;
    background-color: rgb(71, 96, 204);
    color: white;
    border-style: none;
    outline-style: none;
    border-radius: 5px;
}

#btn-save:hover {
    background-color: rgb(33, 57, 163);
}